aiohappyeyeballs==2.6.1
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
distro
faiss-cpu
fastapi
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
groq
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain==0.3.27
langchain-community==0.3.27
langchain-core
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
MarkupSafe
marshmallow
mpmath
multidict
mypy_extensions
narwhals
networkx
numpy>=2.1.0
ollama
orjson
ormsgpack
packaging
pandas
pillow
propcache
protobuf
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
six
smmap
sniffio
SQLAlchemy
starlette
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
transformers
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
watchdog
xxhash
yarl
zstandard